#text1 {
    margin: auto;
    transition: opacity 1s;
}

.tran1 {
    height: 500px;
}

.cow {
    margin: 350px 950px 750px;
    height:10px;
    width:10px;
}
img{
    height:10px;
}


.box {
	transition: transform 2s ease-out;
	
}
.box2 {
    opacity:0;
	transition: transform 2s ease-out;
	transition: opacity .5s ease-out;
}
.box3 {
    opacity:0;
	transition: transform 2s ease-out;
	transition: opacity .5s ease-out;
}
.box4 {
    opacity:0;
	transition: transform 2s ease-out;
	transition: opacity 3s ease-out;

}
.box-change {

	transform: translate(2000px);
	transition:all 2s;
}
.box-change2 {
    opacity:1;
	transform: translate(2000px);
	transition:all 2s;
}
.box-change3 {
    opacity:1;
	transform: translate(2000px);
	transition:all 2s;
}
.box-change4 {
    opacity:1;
	transform: translate(2000px);
	transition:all 2s;
}
input{
    width: 2em;
    font-size:5em;

}

html {
    height: 100%;
    background: radial-gradient(#E6EDF0, #EEE6F0, #F0E9E6);
}

h1 {
    margin: auto;
    width: 11%;
    height: 80%;
    position: relative;
    animation-name: attention;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    font-family: 'Cantarell', sans-serif;
     border-image-source: url(cowborder.jpg);
    border-image-repeat: repeat;
    border-image-slice: 10000;
   

   
    
}
@keyframes attention {
    0% {
      left: 0px;
    }
    25% {
        left: 200px;
     }
     50% {
         left: 0px;
     }
  
     75% {
         right: 0px;
     }
     100% {
         right: 200px;
     }
     125% {
         right: 0px;
     }
 }
 .bigCow{
     margin:0px;
     height:3500px;
     border:2px solid red;
 }
