#text1{
    text-align:center;
    transition:opacity 5s;
    
}
#text1:hover{
    opacity:0;
}

#cow{
    margin: 250px 950px 950px;
}

html{
    height: 100%;
    background: radial-gradient(#E6EDF0,#EEE6F0,#F0E9E6);
    border-style: inset;
}

