#text1 {
    margin: auto;
    transition: opacity 1s;
}

.tran1 {
    height: 500px;
}

#cow {
    margin: 350px 950px 750px;
}

.box {
    transition: opacity 2s ease;
}

.box-change {
    right: 200px;
}

html {
    height: 100%;
    background: radial-gradient(#E6EDF0, #EEE6F0, #F0E9E6);
}

h1 {
    margin: auto;
    width: 11%;
    height: 80%;
    position: relative;
    animation-name: attention;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes attention {
    0% {
        left: 0px;
    }
    25% {
        left: 200px;
    }
    50% {
        left: 0px;
    }

    75% {
        right: 0px;
    }
    100% {
        right: 200px;
    }
    125% {
        right: 0px;
    }
}